services:
  fiberscraper-api:
    container_name: fiberscraper-api
    hostname: fiberscraper-api
    image: ghcr.io/inroma/fiberevolutionscraperapi:latest
    restart: unless-stopped
    volumes:
      - /home/pi/botFiles/fiberScraper/:/app/api/files/
    networks:
      - db-network
      - local

  fiberscraper-front:
    container_name: fiberscraper-front
    image: ghcr.io/inroma/fiberevolutionscraperfront:latest
    restart: unless-stopped
    volumes:
      - /home/pi/botFiles/fiberScraper/certs/:/myCert/
    ports:
      - "8888:80"
      - "443:443"
    networks:
      - local
      - gateway
    depends_on:
      - fiberscraper-api

networks:
  db-network:
    external: true
    name: db-network
  gateway:
    driver: bridge
  local:
    internal: true